@import '../../vendor/filament/forms/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;
@tailwind typography;

[x-cloak] {
    display: none;
}

/* add red * after label having required class */
label.required:after {
    content: "*";
    color: red;
}
